<% # from https://css-tricks.com/how-to-make-a-modern-dashboard-with-nvd3-js/ %>

<h1>Current</h1>

<% # render partial: 'chart.html.erb', locals: { chart_suffix: 'current_2_hours', chart_title: '' } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.js"></script>

<script>
<%= # render partial: 'chart.js.erb', locals: { chart_suffix: 'voltage_2_hours' } %>
</script>
